/*Imported Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import "compass/css3";

/*Stuff That Applies To Everything*/
*{
    font-family: 'Almarai', sans-serif;
    scrollbar-width:thin;
    scrollbar-color: rgb(100, 216, 255) black;
    outline: none;
}

html, body{
    background: black;
    background-image: url(./stars_black.jpg);
    scroll-behavior:smooth;
    height: 100%;
    margin: 0 auto;

}

input:focus {
    outline: none;
}

textarea:focus{
    outline: none;
}

/*Stuff That Takes Effect Depending On Browser*/
::placeholder{
    color: rgb(100, 216, 255);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgb(100, 216, 255);
    opacity: 1;
}
:-ms-textarea-placeholder{
    color: rgb(100, 216, 255);
    opacity: 1;
}

::-ms-input-placeholder {
    color: rgb(100, 216, 255);
    opacity: 1;
}
::-ms-textarea-placeholder{
    color: rgb(100, 216, 255);
    opacity: 1;
}
.btn{
    color: rgb(100, 216, 255);
}

/*Navbar Format*/
.nav{
    position: fixed;
    top: 0;
    background: #505050;
    width: 100vw;
    height: 9vh;
    z-index: 50;
}
.navbar{
    list-style-type: none;
    margin: .4vw;
    padding: .4vw;

}

.nav-btn{
    border:none;
    padding: 0 2vw;
    color: rgb(100, 216, 255);
    background-color: transparent;

}

.nav-tog{
    border:none;
    padding: 0 2vw;
    color: rgb(100, 216, 255);
    background-color: transparent;
    display: none;
}

.nav-btn:focus{
    outline: none;
}

.nav-tog:focus{
    outline: none;
}

.navbar div{
    color: rgb(100, 216, 255);
}

.nav-text{
    display:block;
    text-align: center;
    margin-top: -1vh;
    padding-top: .2em;
    font-size: 1vw;
    position:relative;
    
}

.navbar li a:focus{
    outline: none;
}

.iconify{
    font-size: 4.5vh;
}

/*Intro*/
.intro{
    display: grid;
    text-align: center;
    width:100%;
    min-height: 100vh;
}

.intro-text{
    display: grid;
    color:rgb(100, 216, 255);
    height: 100%;
    padding-top: 15vh;
}

.intro-text h1{
    font-size: 4.5vw;
    font-weight: 400;
    margin-top: -8vh;
}

.intro-text h2{
    font-size: 2.8vw;
    font-weight: 300;
    margin-top: -10vh;
}

.intro-text h3{
    font-size: 2.8vw;
    font-weight: 300;
}

.intro-text h5{
    font-size: 2vw;
    font-weight: 300;
    margin-top: -10vh;
}

/*About Me*/
.about{
    background-color: black;
    background-image: url(./stars_black.jpg);
    color:rgb(100, 216, 255);
    min-height: 100vh;
    width: 100%;
    padding-top: 10vh;
    text-align: center;
}
#text h1{
    font-size: 5vw;
    font-weight: 400;
}

.about-img{
    width: 35%;
    height: 40%;
    border-radius: 5px;
}

.btn-hob{
    border:solid rgb(38, 207, 38);
    color: rgb(100, 216, 255);
    background-color: #505050;
    border-radius: 20px;
    font-size: 1.2vw;
    width:8vw
}

.btn-hob:focus{
    outline: none;
}

.btn-hob:hover{
    color: rgb(38, 207, 38);
    box-shadow: 0 4px 16px 0 rgb(38, 207, 38);
}

#text {
    width: 70%;
    margin: 0 auto 0 auto;
  }

.about-me{
    padding-top: 5vh;
}

.about-me p{
    font-size: 1.5vw;
    text-align: center;
}

.about-bttm{
    border-top: .4vh solid rgb(100, 216, 255);
    
}

#sidebar-r,#sidebar-l, #text{
    height: 100%;
    overflow:auto;
    transition: width .5s;
}

#sidebar-r {
    white-space: nowrap;
    float:right;
    overflow-x: hidden;
    width: 0;
    line-height: 1vh;
    padding-top: 10.5vh;
    list-style-type: none;
}

#sidebar-l{
    white-space: nowrap;
    float:left;
    overflow-x: hidden;
    width: 0;
    line-height: 1vh;
    padding-top: 10.5vh;
    list-style-type: none;
}

#sidebar-r.open {
    text-align: center;
    width: 12%;
}

#sidebar-l.open {
    text-align: center;
    width: 12%;
}

.about-sidebar h5{
    font-size: 1.8vw;
    font-weight: 500;
    text-decoration: underline;
}

.about-sidebar li{
    padding: 1.5vh;
}

.side-text{
    display: block;
    text-align: center;
    margin-top: -1vh;
    padding-top: .8em;
    font-size: 1.2vw;
    position: relative;
    
}

.about-sidebar li .iconify{
    font-size: 5.5vh;
}

.ed{
    font-size: 2.2vw;
    font-weight: 500;
    padding-top: 2vh;
    text-decoration: underline;
}

.ed1{
    font-size: 1.8vw;
}

.ed2{
    font-size: 1.8vw;
    margin-top: -3.6vh;
}

.ed3{
    font-size: 1.2vw;
    margin-top: -2.6vh;
}

.ed4{
    font-size: 1.2vw;
    margin-top: -2.6vh;
}

.ex{
    font-size: 2.2vw;
    font-weight: 500;
    padding-top: 2vh;
    text-decoration: underline;
}

.ex1{
    font-size: 1.8vw;
}
.ex2{
    font-size: 1.2vw;
    margin-top: -2.6vh;
}
.ex3{
    font-size: 1.2vw;
    margin-top: -2.6vh;
}

.abt-column {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }



/*
#sidebar-r.open + #text {
    width: 85%;
    margin: 0 auto 0 auto;
  }
*/

#canvas {
    width: 100%;
    height: 5%;
}


/*Projects*/
.projects{
    background-color: black;
    background-image: url(./stars_black.jpg);
    color:rgb(100, 216, 255);
    min-height: 100vh;
    width: 100%;
    padding-top: 5vh;
}

.projects-text{
    text-align: center;
    padding-top: 60px;
    position: relative;
}

.projects-text h1{
    font-size: 5vw;
    font-weight: 400;
}

.btn-proj{
    border:solid rgb(38, 207, 38);
    color: rgb(100, 216, 255);
    background-color: #505050;
    border-radius: 20px;
    font-size: 1.2vw;
    width:8vw
}

.btn-proj{
    outline: none;
}

.btn-proj:hover{
    color: rgb(38, 207, 38);
    box-shadow: 0 4px 16px 0 rgb(38, 207, 38);
}

.card-grid{
    margin: 25px 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
}

.card{
    margin: 10px auto;
    box-shadow: 0 2px 5px 0 rgb(38, 207, 38);
    height:75vmin;
    width: 100%;
    background:  #606060;
    border-radius: 5px
}

.card-head{
    text-align: center;
    font-size: 1.5vw;
}

.card-text{
    text-align: left;
    font-size: 1vw;
    padding-top:2px;

}

.card-lang{
    position: absolute;
    font-size: 1vw;
    bottom: -10px;
}

.card-img {
    min-width: 100%;
    max-height: 45vh;
  }

.card-body a img{
    border-radius: 5px;
}

.card-body a img:hover{
    box-shadow: 0 4px 16px 0 rgb(38, 207, 38);
}

/* .card:hover{
    box-shadow: 0 8px 16px 0 rgb(38, 207, 38);
}*/

/*Graphs*/
.graphs{
    background-color: black;
    background-image: url(./stars_black.jpg);
    color:rgb(100, 216, 255);
    min-height: 100vh;
    width: 100%;
    padding-top: 10vh;
    text-align: center;
}

.graphs-text h1{
    font-size: 5vw;
    font-weight: 400;
}

.graphs-text p{
    font-size: 1.5vw;
    text-align: center;
}

/*Contact Me*/
.contact{
    background-color: black;
    background-image: url(./stars_black.jpg);
    color:rgb(100, 216, 255);
    min-height: 93.3vh;
    width: 100%;
    padding-top: 5vh;
}
.contact-text{
    padding-top: 60px;
    text-align: center;
    position: relative;
}
.contact-text h1{
    font-size: 5vw;
    font-weight: 400;
}

.contact-text p{
    font-size: 2.5vw;
}
.iconify[data-icon=logos-github-icon]{
    background: #fff;
    color:#000;
    box-shadow: 0 4px 16px 4px rgb(38, 207, 38);
    font-size: 5.5vh;

}
.iconify[data-icon=logos-github-icon]:hover{
    box-shadow: 0 4px 16px 4px rgb(38, 207, 38);  
}
.contact-form {
    max-width: 50vw;
    max-height:50vh;
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.column {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  
.right { 
    width: 50%; 
    }
  
.left {
    margin-right: 2%; 
  }
#name-input, #email-input, #subject-input{
    border:dotted rgb(38, 207, 38); 
    padding: .5em;
    display: block;
    border-radius: 20px;
    width: 100%;
    margin-top: 1.3em;
    text-align: left;
    color: rgb(100, 216, 255);
    background-color: #606060;
    
}

#message-input{
    border:dotted rgb(38, 207, 38); 
    padding: .5em;
    display: block;
    border-radius: 20px;
    width: 100%;
    margin-top: 1.5em;
    text-align: left;
    color: rgb(100, 216, 255);
    background-color: #606060;
}

#submit-input{
    border:solid rgb(38, 207, 38); 
    padding: .5em;
    display: block;
    border-radius: 20px;
    margin-right: auto;
    width: 100%;
    margin-top: 1em;
    color: rgb(100, 216, 255);
    background-color: #505050;
}

#submit-input:hover{
    box-shadow: 0 4px 16px 0 rgb(38, 207, 38);
}


/*Footer*/

footer{
    background: #505050;
    position:relative;
    bottom: 0;
    width: 100%;
    height: 6.7vh;
    overflow:hidden;
}

footer p{
    margin: 10px auto;
    text-align: center;
    color: rgb(100, 216, 255);
    font-size: 1.2vw;
}

  
/*Media screen*/

@media only screen and (max-width: 2700px){
    /*Navbar*/

    .navbar li:hover .nav-text{
        color:rgb(38, 207, 38);
    }
    .nav-tog:hover{
        color:rgb(38, 207, 38);
        
    }
    .navbar li:hover .iconify{
        color:rgb(38, 207, 38);
    }

    /*Intro*/

    /*About*/
    
    /*Projects*/

    /*Contact*/

    /*Footer*/
}



@media only screen and (max-width: 1440px){
    /*Navbar*/
    .nav{
        height: 7.5vh;
    }
    .nav-text{
        font-size: 1.4vw;
    }
    .iconify{
        font-size: 3.6vh;
    }
    /*Intor*/
    .intro-text h1{
        margin-top: -15vh;
    }
    
    .intro-text h2{
        margin-top: -22vh;
    }
    
    .intro-text h5{
        margin-top: -24vh;
    }

    /*About*/
    #text h1{
        font-size: 5.5vw;
    }

    .btn-hob{
        font-size: 1.6vw;
        width:10vw
    }

    .about-me p{
        font-size: 1.8vw;
    }

    #sidebar-r, #sidebar-l {
        padding-top: 8vh;
    }
    

    .about-sidebar h5{
        font-size: 2.4vw;
    }
    
    .side-text{
        font-size: 1.6vw; 
        margin-top: -.5vh;
    }

    .about-sidebar li .iconify{
        font-size: 4.5vh;
    }

    .ed{
        font-size: 2.4vw;
    }
    
    .ed1{
        font-size: 2vw;
    }
    
    .ed2{
        font-size: 2vw;
    }
    
    .ed3{
        font-size: 1.6vw;
    }
    
    .ed4{
        font-size: 1.6vw;
    }
    
    .ex{
        font-size: 2.4vw;
    }
    
    .ex1{
        font-size: 2vw;
    }
    .ex2{
        font-size: 1.6vw;
    }
    .ex3{
        font-size: 1.6vw;
    }

    /*Projects*/
    .projects-text h1{
        font-size: 5.5vw;
    }

    .btn-proj{
        font-size: 1.6vw;
        width:10vw
    }

    .card-head{
        font-size: 1.8vw;
    }

    .card-text{
        font-size: 1.25vw;
    }

    .card-lang{
        font-size: 1.25vw;
    }

    /*Contact*/
    .contact{
        padding-top: 5vh;
        margin-bottom: 1vh;
    }
    .contact-text h1{
        font-size: 5.5vw;
    }

    .iconify[data-icon=logos-github-icon]{
        font-size: 4vh;
    }

    .contact-form{
        max-width: 65vw;
        max-height:60vh;
    }

    /*Footer*/
    footer p{
        font-size: 1.6vw;
    }
}

@media only screen and (max-width: 1370px){
    /*Navbar*/
    .nav{
        height: 8.8vh;
    }

    /*Projects*/
    .card-head{
        font-size: 1.6vw;
    }

    .card-text{
        font-size: 1.15vw;
    }

    .card-lang{
        font-size: 1.15vw;
    }
}

@media only screen and (max-width:1030px){
    /*Navbar*/

    .iconify{
        font-size: 4.5vh;
    }

    /*About*/

    /*Projects*/
    .card{
        height:72vmin;
    }

    /*Contac*/
    .iconify[data-icon=logos-github-icon]{
        font-size: 5.5vh;
    }
    .contact-form{
        max-width: 73vw;
        max-height:60vh;
    }
}

@media only screen and (max-width: 770px){
    /*Navbar*/
    .nav-text{
        font-size: 2vw;
    }
    /*Intro*/
    .intro-text h1{
        font-size: 6.5vw;
        margin-top: -16vh;
    }
    
    .intro-text h2{
        font-size: 4.5vw;
        margin-top: -24vh;
    }
    
    .intro-text h3{
        font-size: 4.5vw;
    }
    
    .intro-text h5{
        font-size: 3.5vw;
        margin-top: -26vh;
    }
    /*About*/
    #text h1{
        font-size: 8vw;
    }

    .about-img{
        width: 60%;
        height: 50%;
        border-radius: 5px;
    }

    .btn-hob{
        font-size: 2vw;
        width:14vw
    }
    .about-me p{
        font-size: 2.5vw;
    }

    #sidebar-r {
        line-height: 1vh;
        padding-top: 8vh;
    }
    
    #sidebar-l{
        line-height: 1vh;
        padding-top: 8vh;
    }

    .about-sidebar h5{
        font-size: 2.8vw;
    }
    
    .side-text{
        font-size: 1.6vw; 
        margin-top: -.5vh;
    }

    .about-sidebar li .iconify{
        font-size: 4.2vh;
    }

    .abt-column {
        width: 100%;
      }

    .ed{
        font-size: 4vw;
    }
    
    .ed1{
        font-size: 3.5vw;
    }
    
    .ed2{
        font-size: 3.5vw;
        margin-top: -2.8vh;
    }
    
    .ed3{
        font-size: 2.5vw;
        margin-top: -2vh;
    }
    
    .ed4{
        font-size: 2.5vw;
        margin-top: -2vh;
    }
    
    .ex{
        font-size: 4vw;
    }
    
    .ex1{
        font-size: 3.5vw;
    }
    .ex2{
        font-size: 2.5vw;
        margin-top: -2vh;
    }
    .ex3{
        font-size: 2.5vw;
        margin-top: -2vh;
    }
    /*Projects*/
    .projects-text h1{
        font-size: 8vw;
    }

    .btn-proj{
        font-size: 2vw;
        width:14vw;
    }
    .card-grid{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 25px;
    }

    .card-head{
        font-size: 2.5vw;
    }

    .card-text{
        font-size: 2vw;
    }

    .card-lang{
        font-size: 2vw;
    }
    /*Contact*/
    .contact{
        margin-bottom: 2vh;
    }
    .contact-text h1{
        font-size: 8vw;
    }

    .contact-text p{
        font-size: 4vw;
    }

    .iconify[data-icon=logos-github-icon]:hover{
        box-shadow: unset;  
    }

    .contact-form{
        max-width: 92vw;
    }

    /*Footer*/
    footer p{
        font-size: 2.4vw;
    }
}

@media only screen and (max-width:576px){
    /*Navbar*/
    .nav{
        height: 7vh;
    }

    .navbar{
        display: inline-block;
        margin-top: 40px;
        background: #505050;
        height: auto;
        width: 100%;
    }

    .nav-btn{
        padding: 1vh 3vw;

    }

    .nav-text{
        display: inline-flex;
        padding: 0 2vw;
        font-size: 3.2vw;
    }

    .nav-tog{
        margin-top: 1.5vh;
        font-size: 3.8vw;
        display: block;
        position: fixed;
        padding-left: 1rem;
    }

    .navbar li:hover .nav-text{
        display: unset;
    }


    .iconify{
        font-size: 4vh;
    }

    /*Intro*/

    .intro-text h1{
        font-size: 9vw;
        margin-top: -14vh;
    }
    
    .intro-text h2{
        font-size: 6.5vw;
        margin-top: -20vh;
    }
    
    .intro-text h3{
        font-size: 6.5vw;
    }
    
    .intro-text h5{
        font-size: 4.5vw;
        margin-top: -22vh;
    }

    /*About*/
    #text h1{
        font-size: 12vw;
    }
    
    .about-img{
        width: 80%;
        height: 50%;
    }

    .btn-hob{
        font-size: 3.5vw;
        width:23vw
    }
    .about-me p{
        font-size: 4vw;
    }
    
    #sidebar-l, #sidebar-r{
        line-height: 1vh;
        padding-top: 10vh;
    }
    #sidebar-l.open, #sidebar-r.open{
        width: 15%;
    }

    .about-sidebar h5{
        font-size: 3.5vw;
    }
    
    .side-text{
        font-size: 2.1vw; 
        margin-top: -.5vh;
    }

    .ed{
        font-size: 5.5vw;
    }
    
    .ed1{
        font-size: 4vw;
    }
    
    .ed2{
        font-size: 4vw;
        margin-top: -3vh;
    }
    
    .ed3{
        font-size: 3vw;
        margin-top: -2.6vh;
    }
    
    .ed4{
        font-size: 3vw;
        margin-top: -2.6vh;
    }
    
    .ex{
        font-size: 5.5vw;
    }
    
    .ex1{
        font-size: 4vw;
    }
    .ex2{
        font-size: 3vw;
        margin-top: -2.6vh;
    }
    .ex3{
        font-size: 3vw;
        margin-top: -2.6vh;
    }

    /*Projects*/
    .projects-text h1{
        font-size: 12vw;
    }

    .btn-proj{
        font-size: 3.8vw;
        width:25vw;
    }

    .card-grid{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .card{
        height: 100vmin;
    }

    .card-head{
        font-size: 4.2vw;
    }

    .card-text{
        font-size: 2.8vw;
    }
    .card-lang{
        font-size: 2.8vw;
    }

    /*Contact*/
    .contact{
        padding-top: 1vh;
    }
    .contact-text{
        padding-bottom: 5vh;
    }
    .contact-text h1{
        font-size: 12vw;
    }

    .contact-text p{
        font-size: 5.5vw;
    }

    .contact-form{
        max-width: 95vw;
        max-height: 80vh;
    }

    .column {
        float: none;
        width: 95%;
    }
      
    .right { 
        width: 94%; 
    }

    #submit-input{
        margin-left: 2.5%;    
        width: 95%;
    }

    .iconify[data-icon=logos-github-icon]{
        font-size: 4.5vh;
    }

    /*Footer*/
    footer p{
        font-size: 3.2vw;
    }
}

@media only screen and (max-width: 420px){
    /*Navbar*/
    .nav{
        height: 6vh;
    }

    /*Intro*/

    .intro-text {
        padding-top: 8vh;
    }

    .intro-text h1{
        font-size: 10vw;
        margin-top: -16vh;
    }
    
    .intro-text h2{
        font-size: 8vw;
        margin-top: -28vh;
    }
    
    .intro-text h3{
        font-size: 8vw;
    }
    
    .intro-text h5{
        font-size: 6vw;
        margin-top: -36vh;
    }

    /*About*/
    .about-me p{
        font-size: 4.5vw;
    }

    #sidebar-l, #sidebar-r{
        padding-top: 6vh;
    }

    .about-sidebar li{
        padding: 1vh;
    }
    
    .side-text{
        font-size: 2.1vw; 
    }

    .about-sidebar li .iconify{
        font-size: 2.8vh;
    }

    .ed{
        font-size: 6vw;
    }
    
    .ed1{
        font-size: 4.5vw;
    }
    
    .ed2{
        font-size: 4.5vw;
        margin-top: -3vh;
    }
    
    .ed3{
        font-size: 3.5vw;
        margin-top: -2.6vh;
    }
    
    .ed4{
        font-size: 3.5vw;
        margin-top: -2.6vh;
    }
    
    .ex{
        font-size: 6vw;
    }
    
    .ex1{
        font-size: 4.5vw;
    }
    .ex2{
        font-size: 3.5vw;
        margin-top: -2.6vh;
    }
    .ex3{
        font-size: 3.5vw;
        margin-top: -2.6vh;
    }

    /*Projects*/
    .card{
        height: 125vmin;
    }

    .card-head{
        font-size: 5vw;
    }

    .card-text{
        font-size: 3.6vw;
    }
    .card-lang{
        font-size: 3.6vw;
    }
    /*Contact*/

    .contact{
        margin-bottom: 1.4vh;
    }

    /*Footer*/
    footer{
        height: 5.5vh;
    }
    footer p{
        font-size: 4vw;
    }
}

@media only screen and (max-width: 380px){
    /*Intro*/

    .intro-text h2{
        margin-top: -26vh;
    }
    
    .intro-text h3{
        font-size: 8vw;
    }
    
    .intro-text h5{
        margin-top: -32vh;
    }

    /*About*/
    #sidebar-l, #sidebar-r{
        padding-top: 7vh;
    }

}

@media only screen and (max-width:330px){
    /*Navbar*/
    .navbar{
        margin-top: 6vh;
    
    }
    
}